player-connection-mode=Listen
player-connection-guid=774629627
player-connection-debug=0
player-connection-project-name=Pipls
player-connection-ip=26.148.31.69
player-connection-ip=192.168.0.142
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=88de33f949704b5aa05ab5ef2988290a
